@model IEnumerable<WebApplication4.Models.AppRating>

@{
    ViewData["Title"] = "App Ratings";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Rate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().RatingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            
        </tr>
    }
    </tbody>
</table>
